<h2>New Post<h2>

<%= form_with model: @post, local: true do |f| %>
  <%= f.label :content %><br>
  <%= f.text_area :content %><br>
  <%= f.submit "Submit" %>
<% end %>

<p>
  <%= link_to "Return to Index", root_path %>
</p>